body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #172B4D;
  background-color: #F4F5F7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 0.5px;
}
